 {% extends "blog/base.html" %}
{% block content %}
 
    <div style="margin-left:20%" >
      <h1 style="color: rgb(195, 7, 232);">
      India's No. 1 Online Bus Ticket Booking Site
      </h1>
    </div>
    <div style="margin-left:1%">
    <h1 style="color: rgb(195, 7, 232)">BUS NEST</h1>
    <h3 style="color: rgb(195, 7, 232)">
      Online Bus Booking Services :
    </h3>
      <ul>
        <li>
          <h5>
          Busnest is India`s leading online bus ticket booking service provider. Check out budget friendly offers and save big with discount coupons to book bus tickets at the lowest price with us.Busnest has simplified the online bus booking process for your travel planning.Book now!!!

Browse through all your bus route options, and use our advanced smart filters to ensure a reliable and comfortable journey, tailored to your scheduled travel plans.
          </h5>
        </li>

      </ul>
   
    <h3 style="color: rgb(195, 7, 232)">
      Online Bus Ticket Booking at Lowest Price :
    </h3>
      <ul>
       <li>
         <h5>
          With Busnest, travellers can book bus tickets online at the lowest ticket fares. Travellers can choose their favorite bus for online bus booking. Busnest is the right place for reserving bus tickets as you will find a wide range of Private buses and SRTC (State Road Transport Corporation) buses are available for bus booking online on AbhiBus.
Below, you will find various types of buses available to book bus tickets on AbhiBus at the lowest fare for bus ticket booking:
         </h5>
        </li>
       </li>
    
    <div class="container mb-5">
      <legend><h2 style="color: brown">sponsered by:</h2></legend>
      <div class="row">
          <div class="col-md-6">
            <h3 style="color: brown;">sai ajay and Birjis</h3>
              <img src="static/image.jpg" alt="Image 1" class="img-fluid ml-3" style="height:600px ;width:400px">
          </div>
          
      </div>
  </div>

    <div class = "saiajay">
    <h3 > 
<div style="margin : 20px 0px; color : rgb(238, 17, 91); box-shadow: 10px 10px 5px #f6d8d8;font-size: 35px;font-size: 40px;">
  Our Popular Bus routes  :
 <style>
  a{
            color: rgb(218, 153, 22);
            font-size: 15px;
        }
 </style> 
</div>
     
      <ul class="column-list">
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Hyderabad to Bangalore</h5>
          </a>
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Hyderabad to Chennai</h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>
              Hyderabad to Vijayawada
            </h5>
          </a>
        
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Hyderabad to Vizag</h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}" >
            <h5>Banaglore to Chennai</h5>
          </a>

          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>
              Banglore to Vijayawada
            </h5>
          </a>
          
        </li>
        <a href="{% url 'findbus' %}">
          <li>
            <h5>Bangalore to Hyderabad</h5>
          </li>
        </a>
       
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Bangalore to Mysuru</h5>
          </a>
         
        </li>
        <li>
          <a href="{% url 'findbus' %}" >
            <h5>
              Chennai to Vijayawada
            </h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Chennai to Vizag</h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Chennai to Hyderabad</h5>
          </a>
        
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Chennai to Bangalore</h5>
          </a>

         
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Vijayawada to Chennai</h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>
              Vijayawada to Hyderabad
           </h5>
          </a>
         
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Vijayawada to Bangalore</h5>

          </a>
         
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Vijayawada to Vizag</h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>
              Vizag to Hyderabad
            </h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Vizag to Chennai</h5>
          </a>
         
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>Vizag to Vijayawada</h5>
          </a>
          
        </li>
        <li>
          <a href="{% url 'findbus' %}">
            <h5>
              Vizag to Tirupati
          </h5>
          </a>
         
        </li>


      </ul>
    </h3>
  </div>
 
    <h3 style="color: rgb(195, 7, 232)">Online Bus Bookings FAQ's :</h3>
    <h5>Q. How do you do online bus reservation on Busnest?</h5>
    <h6>Ans: Booking a bus ticket online in India is easy with BUSNEST. Simply enter the Leaving from (Origin City) -- Going to (destination city) details along with the date you wish to travel in the bus search option on the site. Within seconds you will be given a list of available running buses for your route. Select the bus that best suits you, then just follow the bus ticket booking process by selecting your seat, providing passenger details and completing the payment process. Upon successful booking confirmation, you will receive an e-ticket over SMS/whatsapp and email.</h6>
    <h5>Q. Do I need to create an account to book bus tickets on Busnet?</h5>
    <h6>Ans:Yes,you cannot book bus tickets as a guest user.We recommend you to create an account so that you get the latest information about bus availability, ticket details and other features which will help you book faster during future transactions.</h6>
    <h5>Q. How to sign-up Busnest?</h5>
    <h6>Ans: You can sign-up using your mobile number. AbhiBus offers a one-step sign-up & login process with just an OTP received on your mobile.</h6>
  </div>
{% endblock content %}
