{% extends "blog/base.html" %}
{% block content %}
    <style>
        .bus {
            display: flex;
            flex-wrap: wrap;
            max-width: 600px;
            margin: 0 auto;
        }

        .seat {
            width: 10%;
            padding: 10px;
            text-align: center;
            margin: 5px;
            border: 1px solid #000;
        }

        .seat input[type="checkbox"] {
            display: none;
        }

        .seat input[type="checkbox"]:checked + label {
            background-color: #33FF99; /* Change the color when selected */
            border: 2px solid #000;
        }

        .seat label {
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        </style>
    
    <h1>Bus Seat Booking</h1>
    <form action="{% url 'seatbook' %}" method="GET">
        <div class="bus">
            {% for data in seats %}
                <div class="seat">
                    <input type="checkbox" id="data" name="selected_seats" value="{{ data }}">
                    <label for="data">Seat {{data}}</label>
                </div>
            {% endfor %} 
        </div>
        <button type="submit">Book Selected Seats</button>
    </form>
</body>
</html>
{% endblock %}
